#masthead {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  max-width: 100%;
  position: relative;
  top: 0;
}

.nav-link {
  color: #fff;
}

.nav-link:active {
  text-decoration: none;
  background-color: none;
}

.nav-link:active {
  color: #fff;
}

.nav-link:active {
  background-color: #fff;
}
.navbar {
  z-index: 10;
  background-color: #084b84;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

a,
a:hover {
  text-decoration: none;
}
